<h1> findbunki </h1>

<form action = "bunki-input" method = "post" >
	<p> Where do you live? </p>
	<input type = "radio" name = "New York" value = "NYC"> NYC </input><br>
	<input type = "radio" name = "San Francisco" value = "San Francisco"> San Francisco </input><br>
	<input type = "radio" name = "Austin" value = "Austin"> Austin </input><br>
	<input type = "radio" name = "LA" value = "LA"> LA </input><br>
	<input type = "radio" name = "Philly" value = "Philly"> Philly </input><br>
	<input type = "radio" name = "San Diego" value = "San Diego"> San Diego </input><br><br>

	<p> What do you want around your neighborhood? </p>
	<input type = "checkbox" name = "Shops" value = "Shops"> Shops </input><br>
	<input type = "checkbox" name = "Nightlife" value = "Nightlife"> Nightlife </input><br>
	<input type = "checkbox" name = "Safety" value = "Safety"> Safety </input><br>
	<input type = "checkbox" name = "Accessibility" value = "Accessibility"> Accessibility </input><br>
	<input type = "checkbox" name = "Parks" value = "Parks"> Parks </input><br>
	<input type = "checkbox" name = "Water View" value = "Water View"> Water View</input><br><br>

	<p> Do you need public transit?</p>
	<input type = "checkbox" name = "Yep" value = "Yep"> Yep </input><br>
	<input type = "checkbox" name = "Nope" value = "Nope"> Nope</input><br><br>







	Name: <input type = "text" name = "name"></input><br>
	Email: <input type = "text" name = "email"></input><br><br>


	<input type="submit" value = "Find your apartment"></input>



</form>

